In [10]:
import pandas as pd
awlab = pd.read_csv("/Users/matte/Desktop/Data analyst corso/PYTHON/Buildweek/database/AWLab_sales.csv")
awlab

     index;Brand;Model;Type;Gender;Size;Color;Material;Price (USD);Number of Items Sold;Selling Price;City
0     0;Nike;Air Jordan 1;Basketball;Men;US 10;Red/B...
1     1;Adidas;Ultra Boost 21;Running;Men;US 9.5;Bla...
2     2;Reebok;Classic Leather;Casual;Men;US 11;Whit...
3     3;Converse;Chuck Taylor;Casual;Women;US 8;Navy...
4     4;Puma;Future Rider;Lifestyle;Women;US 7.5;Pin...
...                                                 ...
1001  1001;New Balance;Fresh Foam 880v11;Running;Wom...
1002  1002;Asics;Gel-Kayano Lite;Running;Men;US 9.5;...
1003  1003;Fila;Venom 94;Fashion;Women;US 7.5;White;...
1004  1004;Skechers;Summits;Training;Men;US 8;Grey;M...
1005  1005;Nike;Air Max 97;Running;Women;US 7.5;Silv...

[1006 rows x 1 columns]

In [12]:
footlocker = pd.read_csv("/Users/matte/Desktop/Data analyst corso/PYTHON/Buildweek/database/FootLocker_sales.csv")
footlocker

     index;Brand;Model;Type;Gender;Size;Color;Material;Price (USD);Number of Items Sold;Selling Price;City
0     0;Nike;Air Jordan 1;Basketball;Men;US 10;Red/B...
1     1;Adidas;Ultra Boost 21;Running;Men;US 9.5;Bla...
2     2;Reebok;Classic Leather;Casual;Men;US 11;Whit...
3     3;Converse;Chuck Taylor;Casual;Women;US 8;Navy...
4     4;Puma;Future Rider;Lifestyle;Women;US 7.5;Pin...
...                                                 ...
1001  1001;New Balance;Fresh Foam 880v11;Running;Wom...
1002  1002;Asics;Gel-Kayano Lite;Running;Men;US 9.5;...
1003  1003;Fila;Venom 94;Fashion;Women;US 7.5;White;...
1004  1004;Skechers;Summits;Training;Men;US 8;Grey;M...
1005  1005;Nike;Air Max 97;Running;Women;US 7.5;Silv...

[1006 rows x 1 columns]